PORT=5000
MONGO_URI=mongodb+srv://rahulridhu21_db_user:iIHyUbn601DlRpGE@cluster0-free.ui0onrv.mongodb.net/?appName=Cluster0-free
JWT_SECRET=your_super_secret_jwt_key
JWT_EXPIRES_IN=7d
MAPBOX_SECRET_TOKEN=sk.eyJ1...
CLOUDINARY_CLOUD_NAME=dsgdbnpy4
CLOUDINARY_API_KEY=amUm67IbI_LK-piE7x8tkKILcf8
CLOUDINARY_API_SECRET=amUm67IbI_LK-piE7x8tkKILcf8
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your@gmail.com
SMTP_PASS=your_app_password
CLIENT_URL=http://localhost:5173
NODE_ENV=development